<div class="col-md-offset-3 col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Jobs Table</h3>
    </div>
    <table class="table table-striped">
      <tbody>
      <% if @jobs %>
        <% @jobs.each_index do | job | %>
          <tr>
            <td class="col-md-1">
              <%= job + 1 %>
            </td>
            <td class="col-md-6">
              <%= @jobs[job].title %>
            </td>
            <td class="col-md-5">
              <div class="btn-group">
                <%= link_to "Show", job_path(@jobs[job].id), class: "btn btn-primary" %>
                <% if @user_type == :employer %>
                  <%= link_to "Edit", edit_job_path(@jobs[job].id), class: "btn btn-success" %>
                  <%= link_to "Delete", job_path(@jobs[job].id), :method=> :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
    <% if @user_type == :employer %>
      <%= link_to "New Job Posting", new_job_path, class: "btn btn-success btn-block" %>
    <% end %>
  </div>
</div>

