<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%=@seeker.name%>'s Profile</h3>
    </div>
    
    <div class="panel-body">
      <%if @seeker%>
        <form class="form" role="form">

          <div class="form-group">
            <label class="control-label">Email:</label>
            <p class="form-control-static"><%= @seeker.email %></p>
          </div>

          <div class="form-group">
            <label class="control-label">Phone:</label>
            <p class="form-control-static"><%= @seeker.phone %></p>
          </div>

          <div class="form-group">
            <label class="control-label">Skills:</label>
            <p class="form-control-static">
              <% @seeker.skill_list.each do |skill|%>
                <span class="label label-success"><%= skill %></span>
              <%end%>
            </p>
          </div>

          <div class="form-group">
            <label class="control-label">Resume:</label>
            <p class="form-control-static"><%= @seeker.resume %></p>
          </div>

        </form>
        <%= link_to "Edit Profile", edit_seeker_path(@seeker.id), class: "col-md-offset-4 col-md-4 btn btn-primary" %>
      </div>
      <%end%>
  </div>
</div>


<div class=" col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Applied Jobs</h3>
    </div>
    <table class="table table-striped">
      <tbody>
      <% if @job_application %>
          <% @job_application.each_index do |x| %>
              <tr>
                <td class="col-md-1">
                  <%= x+1 %>
                </td>
                <td class="col-md-6">
                  <%= @job_application[x].title %>
                </td>
                <td>
                  <%@job_application[x].status%>
                </td>
              </tr>
          <% end %>
      <%else%>
      <tr></tr>
      <tr>
        <div class="alert alert-danger" role="alert">
          You haven't applied for any jobs.
        </div>
      </tr>
      <% end %>

      </tbody>
    </table>
    <%= link_to "Apply for a new job", jobs_path, class: "btn btn-success btn-block" %>
  </div>
</div>


<div class="col-md-4">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Recommended Jobs</h3>
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>Company</th>
        <th>Job Title</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Google</td>
        <td>Software developer</td>
        <td>
          <%= link_to "Job Description", jobs_path %>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Facebook</td>
        <td>Sales</td>
        <td>
          <%= link_to "Job Description", jobs_path %>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>Twitter</td>
        <td>Senior Manager</td>
        <td>
          <%= link_to "Job Description", jobs_path %>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

