<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%=@seeker.name%>'s Profile</h3>
    </div>
<<<<<<< HEAD
    <table class="table table-striped">
      <tbody>
      <tr>
        <td>Name:</td>
        <td><%=@seeker.name%></td>
      </tr>
      <tr>
        <td>Email:</td>
        <td><%=@seeker_email%></td>
      </tr>
      <tr>
        <td>Phone Number:</td>
        <td><%=@profile_phone%></td>
      </tr>
      <tr>
        <td>Skills:</td>
        <td><%=@profile_skills%></td>
      </tr>
      <tr>
        <td>Resume:</td>
        <td><%=@profile_resume%></td>
      </tr>
      <tr>
        <td>
        <div class="btn-group">
          <%- #<button type="button" class="btn btn-success">Edit Profile</button> %>
          <%= link_to "Edit Profile",new_profile_path, class: "btn btn-primary" %>
        </div>
        <td>
      </tr>
      </tbody>
    </table>
=======
    <div class="panel-body">
      <%if @seeker%>
        <form class="form" role="form">

          <div class="form-group">
            <label class="control-label">Email:</label>
            <p class="form-control-static"><%= @seeker.email %></p>
          </div>

          <div class="form-group">
            <label class="control-label">Phone:</label>
            <p class="form-control-static"><%= @seeker.phone %></p>
          </div>

          <div class="form-group">
            <label class="control-label">Skills:</label>
            <p class="form-control-static">
              <% @seeker.skill_list.each do |skill|%>
                <span class="label label-success"><%= skill %></span>
              <%end%>
            </p>
          </div>

          <div class="form-group">
            <label class="control-label">Resume:</label>
            <p class="form-control-static"><%= @seeker.resume %></p>
          </div>

        </form>
        <%= link_to "Edit Profile",seekers_path, class: "col-md-offset-4 col-md-4 btn btn-primary" %>
      </div>
      <%end%>
>>>>>>> 2b29b23f0f8abe18bc8cf20fdb1e220757ce6f19
  </div>
</div>


<div class="col-md-4">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Applied Jobs</h3>
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>Company</th>
        <th>Job Title</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Google</td>
        <td>Software developer</td>
        <td>status</td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-danger">Withdraw</button>
          </div>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Facebook</td>
        <td>Sales</td>
        <td>status</td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-danger">Withdraw</button>
          </div>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>Twitter</td>
        <td>Senior Manager</td>
        <td>status</td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-danger">Withdraw</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


<div class="col-md-4">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Recommended Jobs</h3>
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>Company</th>
        <th>Job Title</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Google</td>
        <td>Software developer</td>
        <td>
          <%= link_to "Job Description", jobs_path %>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Facebook</td>
        <td>Sales</td>
        <td>
          <%= link_to "Job Description", jobs_path %>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>Twitter</td>
        <td>Senior Manager</td>
        <td>
          <%= link_to "Job Description", jobs_path %>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

