<% if @admin.pending %>
  <div class="alert alert-danger" role="alert">
    Your status is pending, you will be able to view this once your application has been accepted.
  </div>
<% else %>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Pending Admin Requests</h3>
        </div>
        <% if !@admins.empty? %>
          <table class="table">
            <tbody>
            <% @admins.where(:pending => true).each do | admin | %>
              <tr>
                <td>
                  <%= admin.name %>
                </td>
                <td>
                  <div class="btn-group">
                    <%= link_to "Accept", "accept_admin/" + admin.id.to_s, :method => :put, class: "btn btn-success" %>
                    <%= link_to "Reject", "reject_admin/" + admin.id.to_s, :method => :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
                  </div>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        <% else %>
          <div class="panel-body">
            <div class="alert alert-success" role="alert">No pending admin requests!</div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Pending Employer Requests</h3>
        </div>
        <% if !@employers.empty? %>
          <table class="table">
            <tbody>
            <% @employers.where(:pending => true).each do | employer | %>
              <tr>
                <td>
                  <%= employer.name %>
                </td>
                <td>
                  <div class="btn-group">
                    <%= link_to "Accept", "accept_employer/" + employer.id.to_s, :method => :put, class: "btn btn-success" %>
                    <%= link_to "Reject", "reject_employer/" + employer.id.to_s, :method => :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
                  </div>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        <% else %>
          <div class="panel-body">
            <div class="alert alert-success" role="alert">No pending employer requests!</div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-success">
        <div class="panel-heading">
          <%= link_to 'Edit Categories', category_index_path, class: "pull-right" %>
          <h3 class="panel-title">Categories</h3>
        </div>
        <% if !@categories.empty? %>
          <table class="table">
            <tbody>
            <% @categories.each do |category| %>
              <tr>
                <td>
                  <%= category.name %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Admins</h3>
        </div>
        <% if !@admins.empty? %>
          <table class="table">
            <tbody>
            <% @admins.where(:pending => false).each do | admin | %>
              <tr>
                <td>
                  <%= admin.name %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Employers</h3>
        </div>
        <% if !@employers.empty? %>
          <table class="table">
            <thead>
            <tr>
              <th>Contact Name</th>
              <th>Company</th>
            </tr>
            </thead>
            <tbody>
            <% @employers.where(:pending => false).each do | employer | %>
              <tr>
                <td>
                  <%= employer.name %>
                </td>
                <td>
                  <%= employer.company_name %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        <% else %>
          <div class="panel-body">
            No registered employers!
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Job Seekers</h3>
        </div>
        <% if !@seekers.empty? %>
          <table class="table">
            <tbody>
            <% @seekers.each do | seeker | %>
              <tr>
                <td>
                  <%= seeker.name %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        <% else %>
          <div class="panel-body">
            No registered job seekers!
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class = "row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%=@admin.name%>'s Profile</h3>
        </div>

        <div class="panel-body">
          <%if @admin%>
              <form class="form" role="form">
                <table>
                  <td>
                    <div class="form-group">
                      <label class="control-label">Email:</label>
                      <p class="form-control-static"><%= @admin.email %></p>
                    </div>
                  </td>
                  <td>  </td>
                </table>
              </form>
              <%= link_to "Edit Profile", edit_admin_path(@admin.id), class: " btn btn-primary" %>
              </div>
          <%end%>
          </div>
    </div>
  </div>
<% end %>
